streamlit
transformers==4.44.2
torch==2.4.0
sentencepiece==0.2.0
protobuf==5.28.0
pandas
numpy
os
plotly
matplotlib
datetime
wordcloud
base64
io
collections
google-play-scraper 
app-store-scraper
langchain 
langchain_groq
groq
openai==0.28
python-dotenv
